<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="stuart" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stuart Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mode</label>
                    <source_model>Codi\StuartShipping\Model\Config\Source\Mode</source_model>
                </field>
                <field id="sandbox_api_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox API URL</label>
                    <depends>
                        <field id="mode">sandbox</field>
                    </depends>
                </field>
                <field id="production_api_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Production API URL</label>
                    <depends>
                        <field id="mode">production</field>
                    </depends>
                </field>
                <field id="sandbox_client_id" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Client ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="mode">sandbox</field>
                    </depends>
                </field>
                <field id="sandbox_client_secret" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="mode">sandbox</field>
                    </depends>
                </field>
                <field id="production_client_id" translate="label" type="obscure" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Production Client ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="mode">production</field>
                    </depends>
                </field>
                <field id="production_client_secret" translate="label" type="obscure" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Production Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="mode">production</field>
                    </depends>
                </field>
                <field id="register_webhook" translate="label comment" type="button" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Register Webhook</label>
                    <frontend_model>Codi\StuartShipping\Block\Adminhtml\System\Config\RegisterWebhook</frontend_model>
                    <comment>Click to register the webhook with Stuart API</comment>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="sallowspecific">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>